# Dropbox API Ayarları
# Dropbox App Console'dan alınacak: https://www.dropbox.com/developers/apps

REACT_APP_DROPBOX_ACCESS_TOKEN=your_dropbox_access_token_here
REACT_APP_DROPBOX_REFRESH_TOKEN=your_dropbox_refresh_token_here
REACT_APP_DROPBOX_APP_KEY=your_dropbox_app_key_here
REACT_APP_DROPBOX_APP_SECRET=your_dropbox_app_secret_here

# Yedekleme Ayarları
REACT_APP_BACKUP_FOLDER=/Indigo_Imalat_Yedekler
REACT_APP_AUTO_BACKUP_INTERVAL=86400000

